@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --background: #050c1b;
  --nav-foot-background: #353535;
  --info-background: linear-gradient(180deg, #15314b, #223f5a);
  --text-colour: #bbcbdf;
  --header-text-colour: #E9F3FF;
  --link-hover: #BF9B67;
  --font-nav: 'Ubuntu', sans-serif;
  --font-headings: 'Literata', serif;
  --font-main: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--text-colour);
}

html, body  {
  background-color: var(--background);
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  -webkit-text-size-adjust: 100%;
}

p, li {
  font-family: var(--font-main);
  padding: 0.125rem 0;
}

h1, h2 {
  color: var(--header-text-colour);
  font-family: var(--font-headings);
  text-align: center;
}

nav {
  color: var(--header-text-colour);
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: var(--nav-foot-background);
  height: 2.5rem;
  width: 100%;
  z-index: 10;
  font-family: var(--font-nav);
}

nav a {
  color: var(--header-text-colour);
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0 0.8rem;
}

a:hover {
  color:var(--link-hover);
}

main {
  position: relative;
  top: 3rem;
  min-height: calc(100vh - 4rem);
  margin-bottom: 2rem;
}

#above {
  background: var(--info-background);
  margin: 0 auto;
  line-height: 1.2;
  padding: 1rem 1.25rem;
}

#above p {
  padding: 0.5rem 12.5rem;
}

#above h1, h2 {
  margin-bottom: 0.25rem;
}

#above ol {
  justify-self: center;
  margin: 0 2.5rem;
}

#leftRightFlexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#leftRightFlexWrap section {
  background: var(--info-background);
  height: 50rem;
  width: 24rem;
  margin: 1.25rem 1.25rem;
  line-height: 1.2;
  border-radius: 1rem;
}

#leftRightFlexWrap h1, h2 {
  margin: 0.6rem;
}

#leftRightFlexWrap ul {
  padding-left: 2.5rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}

#explanation {
  margin: 0.6rem 0.6rem 2.5rem 0.6rem;
  padding: 1rem;
}

footer {
  background-color: var(--nav-foot-background);
  height: 2.5rem;
  text-align: center;
  padding: 0.5rem 0;
}

/* about me only */

#amMain article {
  background-color: var(--info-background);
  padding: 40px 200px;
}

#amMain p {
  padding: 20px;
}

#aboutMeContents{
  padding: 20px;
  text-align: center;
}

.parallax {
  position:relative;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainerHeight {
  min-height: 600px;
}

#imageContainer1 {
  background-image: url("../media/images/ISWM.png");
  opacity: 80%;
}

#imageContainer2 {
  background-image: url("../media/images/hecatonicosachoron.png");
}

#imageContainer3 {
  background-image: url("../media/images/hypercube.png");
  opacity: 80%;
}

#imageContainer4 {
  background-image: url("../media/images/mandel.png");
  opacity: 80%;
}

#imageContainer5 {
  background-image: url("../media/images/shogi.png");
}

#imageContainer6 {
  background-image: url("../media/images/cpu.png");
  opacity: 80%;
}

#imageContainer7 {
  background-image: url("../media/images/circuitWIP.png");
  opacity: 80%;
}

/* CV only */

#cv-iframe {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  max-width: 800px;
  border: none;
}

/* Alternate screen size modifications */

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }

  #above p {
    padding: 8px 20px;
  }
}

@media only screen and (max-device-width: 600px) {
  #CVGrid {
    display: grid;
    padding: 40px;
    font-family: 'Roboto Mono', monospace;
    grid-gap: 10px 10px;
    grid-template-columns: 100%;
    grid-template-areas: "CVtitle"
                         "CVright"
                         "CVleft"
  }

  #amMain article {
    background-color: var(--info-background);
    padding: 40px 20px;
  }
}